body {
    background-color: #2D3A45;
    color: #EEEEEE;
}

.navbar .nav-link {
    font-weight: bold;
    font-size: medium;
    color: #EEEEEE;
}

/* Hover state: same text color, peach background */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    background-color: #EEEEEE !important;
    border-radius: 0.6rem; /* rounded */
    transition: background-color 0.05s ease-in-out;
    color: #2D3A45;
}

.login-card-bg {
    background-color: #EEEEEE !important;
 }

.orange-header {
    background-color: #FF8C00 !important;
}

#id_flag_icons::file-selector-button {
    display: none; /* Hides the default HTML 'Choose File' button but keeps the text */
}
#id_flag_icons {
    color: transparent; /* Hides the 'No file chosen' text */
}
