body {
    background-color: #2D3A45;
    color: #EEEEEE;
}

.navbar .nav-link {
    font-weight: bold;
    font-size: medium;
    color: #EEEEEE;
}

/* Hover state: same text color, peach background */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    background-color: #F2D2BD !important;
    border-radius: 1rem; /* rounded */
    transition: background-color 0.05s ease-in-out;
    color: #2D3A45;
}

.login-card-bg {
    background-color: #EEEEEE !important;
 }
