{% load static %}
{% load rbac_tags %}
{% gp_is_god as is_god %}
{% gp_is_admin as is_admin %}
{% gp_has_scoped_role 'REGIONAL_VIEWER' as has_rv %}
{% gp_has_scoped_role 'MANAGER' as has_manager %}
{% gp_has_scoped_role 'OPERATOR' as has_operator %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse border-bottom border-1 border-success pb-3" id="navbarNav">
            <!-- Left items -->
            <ul class="navbar-nav">
                {%  if is_god or is_admin or has_rv %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Regions</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Markets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Assets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vulnerabilities</a>
                </li>
                {%  if is_god or is_admin or has_manager %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                {% endif %}
            </ul>

            <!-- Right items -->
            <ul class="navbar-nav ms-auto">
                {% if is_god or is_admin %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'management' in request.path %}text-warning bg-secondary rounded{% endif %}" href="{% url 'management' %}">Management</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link align-baseline">Logout</button>
                   </form>
                </li>
            </ul>
        </div>
    </div>
</nav>